@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(255, 255, 255)55, 255, 255);
            color: white;
        }
        .btn-primary {
            color: white;
        }
    </style>
</head>
<body>
    <div class="welcome-section">
        <h1>Welcome to Our Store</h1>
        <p>Find the best products here!</p>
        </body>
    </div> *@

<div class="container my-5">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="" style="background: rgb(95,164,210);background: linear-gradient(90deg, rgba(95,164,210,1) 0%, rgba(44,62,80,1) 100%);">
            <div class="card-body">
                <h3 class="navbar-brand" href="/"><strong>StoreApp</strong></h3>
                <div class="contact-info">
                    <div class="welcome-section">
                        <h1 class="navbar-brand" href="/"><strong>Welcome to Our Store</strong> ></h1>
                        <p>Find the best products here!</p </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-title">
            <h1 class="navbar-brand" href="/"><strong>Thank you prefer we </strong> ></h1>
            <a href="/Product/Index" class="btn btn-primary">Go to Product Page
                <i class="fa-regular fa-hand-pointer fa-xl"></i></a>
        </div>
</body>

</html>
        <link rel="stylesheet" href="~/css/homeIndex.css" asp-append-version="true" />
