<nav class="navbar navbar-expand-lg border-bottom bg-body-tertiary" data-bs-theme="light">
  <div class="container-fluid" style="">
    <a class="navbar-brand" href="/"><strong>StoreApp</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >

      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">

          <a class="nav-link active" aria-current="page " asp-controller="Home" asp-action="Index">
            <i class="fa-sharp-duotone fa-solid fa-shop" style="--fa-secondary-opacity: 1;"></i>
            Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page " asp-controller="Product" asp-action="Index">
            <i class="fa-sharp-duotone fa-solid fa-cart-shopping" style="--fa-secondary-opacity: 1;"></i>
            Products(@await Component.InvokeAsync("ProductSummary"))
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page " asp-controller="Category" asp-action="Index">
            <i class="fa-sharp-duotone fa-solid fa-list"
              style="--fa-primary-color: #27467c; --fa-secondary-color: #27467c; --fa-secondary-opacity: 1;"></i>
            Categories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page " asp-page="/Contact">
            <i class="fa-duotone fa-solid fa-phone"
              style="--fa-primary-color: #223c67; --fa-secondary-color: #a0c1d9;"></i>
            Contact
          </a>
        </li>
      </ul>

    </div>
    <ul id="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>
      </li>
    </ul>
  </div>
</nav>